/* soft reset do css( só reseta o margin, padding, e ajusta o box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
    background-image: url('../img/imagem_rede_age.jpg');
    background-size: auto 100vh;
    font-family: 'Handlee', cursive;
    height: 100vh;
    font-size: 12px;
    } 

  /* se a tela tiver pelo menos 400px vai carregar estes estilos*/
    @media (min-width: 400px ) {
      body{
        font-size: 14px;
      }

    }
    
    @media (min-width: 600px ) {
      body{
        font-size: 20px;
      }

    }

    @media (min-width: 1200x ) {
      body{
        font-size: 26px;
      }

    }

   header {
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
   }

   .menu {
     background-color: white;
     position: fixed;
     width: 100vw;
     top: 0;
   }
   
   .menu ul {
     display: flex;
     justify-content: space-around;
     background-color: turquoise;
   }
   
   .menu li {
     list-style: none; 
     
   }

   .menu a {
     display: block;
     padding: 10px 20px;
     /*background-color: aqua;(para saber como fica o botao atraves da cor*/
   }
   
   a {
     color: rgb(13, 14, 5);
     text-decoration: none;
   }
   a:hover {
     text-decoration: underline;
   }
   
   .site-subtitle,
   .site-title {
     color: whitesmoke;
     text-align: center;
   }

   .site-title {
     font-size: 3em;
     font-family: 'Sedgwick Ave', cursive;
     
   }
   
   .site-subtitle {
    font-style: italic;
    font-family: 'East Sea Dokdo', cursive;
    line-height: 1em;
    font-size: 2.5em;
    
   }

   .portfolio {
     padding: 2em;
     height: 100vh;
   }

   .portfolio h2 {
    font-family: 'Sedgwick Ave', cursive;
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 3em;
   }

   .portfolio .grid {
     display: grid;
     gap: 1.8em; 
   }
   @media( min-width: 560px) {
      .portfolio .grid {
        grid-template-columns: 240px 240px; 
      }
   }

   @media( min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat(2, 400px); 
      align-content: center;
      justify-content: center;
      height: calc(100vh - 48px );
    }
 }


   .portfolio figure {
     text-align: center;
     color: whitesmoke;
   }

   .img-portfolio {
     height: 270px;
     width: 360px;
     object-fit: fill;
     border-radius: 5%; 
    
   }

   